services:
  java:
    container_name: java
    build: .
    ports:
      - ${SPRING_APP_PORT}:8080
    networks:
      - dwcsLan
      - dwcs
    depends_on:
      db:
        condition: "service_healthy"
    restart: unless-stopped
  db:
    image: postgres:15-alpine
    container_name: tareas-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tareasdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - dwcs
    restart: unless-stopped
volumes:
    postgres_data:
networks:
    dwcs:
      driver: bridge
    dwcsLan:
      internal: true
